.bg-main {
    height: 100vh;
    width: 100%;


    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c596.455C125.366%2c593.006%2c256.789%2c630.65%2c367.829%2c572.353C482.311%2c512.249%2c583.578%2c404.525%2c607.577%2c277.471C630.777%2c154.646%2c513.508%2c52.276%2c489.227%2c-70.34C466.833%2c-183.425%2c540.884%2c-316.516%2c471.693%2c-408.724C402.711%2c-500.654%2c265.501%2c-498.499%2c152.441%2c-519.165C50.017%2c-537.887%2c-52.843%2c-549.377%2c-153.571%2c-523.015C-256.379%2c-496.109%2c-354.458%2c-447.75%2c-424.802%2c-368.093C-495.506%2c-288.028%2c-542.267%2c-185.263%2c-546.097%2c-78.517C-549.749%2c23.267%2c-469.613%2c104.458%2c-445.305%2c203.364C-413.243%2c333.82%2c-481.781%2c504.052%2c-381.069%2c592.955C-283.868%2c678.758%2c-129.605%2c600.02%2c0%2c596.455' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1196.613C1557.456 1202.317 1646.942 1099.499 1746.687 1037.215 1847.897 974.015 1986.708 940.5509999999999 2028.845 828.9169999999999 2070.997 717.244 2004.5 594.493 1954.7530000000002 485.99 1914.883 399.03 1838.182 341.48699999999997 1773.184 271.295 1710.693 203.81 1658.23 130.801 1580.427 81.74900000000002 1480.563 18.78800000000001 1373.17-86.60799999999995 1260.279-52.07299999999998 1147.108-17.451999999999998 1146.213 148.83499999999998 1068.724 238.28699999999998 991.251 327.72 840.009 355.129 808.692 469.23199999999997 777.421 583.165 851.118 700.293 914.564 799.958 972.264 890.597 1066.122 943.5930000000001 1151.876 1008.3299999999999 1245.336 1078.884 1323.037 1190.933 1440 1196.613' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.title {
    padding-top: 50px;
}

.conten-area {
    width: 100%;
    height: 500px;
}
.input-area{
    padding: 15px;
}
.output-area{
    padding-left: 15px;
    color: #fff;
}
.output-area h4{
    margin-bottom: 15px;
}

span{
    font-weight: normal;
}